@charset "UTF-8";

//引入其他mixin模块
// @import "mod/_flex"
// @import "mod/_placeholder"//input占位符号
// @import "mod/_triangle"//三角icon
// @import "mod/_firefox"//firefox hack
// @import "mod/_boxclamp"//控制文字行数溢出省略号
@import "mod/_breakpoint"//响应式页面断点
// @import "mod/_rem"//rem单位化

/* 
 * [inline-block 设置inline-block，不支持inline-block实现相似表现的布局]
 * 
 */  
inline-block(){
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* 
 * [clearfix 普通清浮动方法，兼容全浏览器]
 * 
 */  
clearfix(){
	*zoom: 1;
	&:before,
	&:after{
		content: "";
		display: table;
		line-height: 0;
	}
	&:after{
		clear: both;
	}
}

/* 
 * [ellipsis 传入宽度参数，超出宽度显示省略号]
 * 
 */  
ellipsis($width) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    width:$width;
}

/* 
 * [min-height 兼容ie6最小高度]
 * 
 */  
min-height($height) {
	min-height: $height;
	height: auto !important;
	_height: $height;
}

/* 
 * [opacity lte8使用filter兼容]
 * 
 */  
opacity($opacity) {
    opacity: $opacity / 100;
    //filter: alpha(opacity=$opacity);
}


/* 
 * [reset-filter Reset gradient filters for IE]
 * 
 */  
// %reset-filter{
//   filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
// }

