@charset "UTF-8";
/* 
 * [breakpoint 通过简单的接口使用media响应设备窗口大小，调整样式]
 * @param     name [description]
 * @other     [description]
 * @return    [description]
 * 
 */  
breakpoint($point) {
	if ($point == large) {
		@media (min-width: 64.375em) { @content; }
	}
	else if ($point == medium) {
		@media (min-width: 50em) { @content; }
	}
	else if ($point == small) {
		@media (min-width: 37.5em)  { @content; }
	}
}